<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Chequer.Properties.Settings.ChequerConn" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Database\Chequer.mdb;Persist Security Info=True;Jet OLEDB:Database Password=Chequer@2022$"
            providerName="System.Data.OleDb" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
</configuration>
